<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN PAGE</h1><br><br>
    <form action="login" method="post">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="submit">

    </form>
<a href="/signup"> create an account</a>
</body>
</html>